version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: bus_booking_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: bus_booking_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data


  redis:
    image: redis:7
    container_name: bus_booking_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
volumes:
  postgres_data:
  redis_data:
