<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body class="bg-light d-flex align-items-center justify-content-center vh-100">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">

            <div class="card shadow-sm border-0">
                <div class="card-body p-4">

                    <h4 class="text-center mb-4">Reset Password</h4>

                    <!-- Error message -->
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <form th:action="@{/api/v1/auth/forgot-password}"
                          th:object="${forgot}"
                          method="post">

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email"
                                   th:field="*{email}"
                                   class="form-control"
                                   placeholder="Enter your email"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input type="password"
                                   th:field="*{password}"
                                   class="form-control"
                                   placeholder="New password"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password"
                                   th:field="*{confirmPassword}"
                                   class="form-control"
                                   placeholder="Confirm password"
                                   required>
                        </div>

                        <button type="submit"
                                class="btn btn-success w-100">
                            Send Verification Code
                        </button>
                    </form>

                    <div class="text-center mt-3">
                        <a th:href="@{/api/v1/auth/login}"
                           class="text-decoration-none">
                            Back to Login
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
